.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
*.tfplan
terraform.tfvars
*.auto.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
